{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}{{ TITLE }}{% endblock %}
{% block keywords%}{{ KEYWORDS}}{% endblock %}
{% block description%}{{ DESCRIPTION }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/personalCenter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/layer.css'">
<script src="{% static 'js/PCASClass.js' %}"></script>
{% endblock %}



{% block container %}
<div class="container-fluid container-banner">
    <div class="container container-uinfo">
      <div class="header-uinfo">
        <div class="uinfo-head"><img src="/uploads/{{ student.avatar_url }}"></div>
        <div class="uinfo-con">
          <div class="user-name cf">
            <span>{{ student.username }}</span>
            {% if vc%}
            <img src="{% static 'images/vip.png' %}" id="viptips" data-toggle="tooltip" data-placement="top" data-container="body" title="VIP有效期至 2014/12/12">
            <!-- <img src="{% static 'images/android.png' %}"> -->
            {% endif %}
          </div>
          <div class="course-info">
            <!-- <span>学习：236小时</span> -->
            <span>上课：{{ vc|length }} 门</span>
          </div>
        </div>
      </div>
      <div class="uc-nav">
        <ul>
          <li><a href="{% url 'maizi:my_course' %}">我的课程</a></li>
          <li><a href="个人中心-我的收藏(学生).html">我的收藏</a></li>
          <li><a href="个人中心-我的证书(学生).html">我的证书</a></li>
          <li><a href="个人中心-我的消息(学生).html">我的消息</a><span class="msg-tips">1</span></li>
          <li class="active"><a href="{% url 'maizi:grs' %}">个人资料</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uc-boxa">
    <div class="uc-h1">基本资料</div>
    <form action="" id="pcBasicForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="pcsBasicTable color66 marginB50">
          <tbody>
          <tr>
              <td style="width: 96px;">头像</td>
                <td colspan="3" class="pcsBasicTableOne">
                  <div class="img"><img src="/uploads/{{ request.user.avatar_url }}"></div>
                    <div class="font color66">支持jpg、gif、png或bmp格式的图片，文件须小于1M<br>{{ basicdata.avatar_url }}</div>
                </td>
            </tr>
            <tr>
              <td>昵称<span class="red"></span></td>
                <td style="width: 346px;"><input type="text" class="pcsBasicTableTxt" datatype="*1-11" name="nick_name" value="{{ request.user.username }}"></td>
                <td style="width: 210px;"></td>
                <td></td>
            </tr>
            <tr>
              <td>真实姓名<span class="red"></span></td>
                <td><input type="text" class="pcsBasicTableTxt" datatype="*1-15" name="real_name" value="{{ request.user.last_name }}"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td>邮箱<span class="red"></span></td>
                <td><input type="text" class="pcsBasicTableTxt" datatype="*1-5" name="email_name" value="{{ request.user.email }}"></td>
                <td></td>
                <td></td>
            </tr>
<!--             <tr>
              <td>邮箱<span class="red"></span></td>
                <td class="ph">{{ request.user.email }}<a class="editphon">修改邮箱</a>
                <input type="hidden" datatype="*" value="13719433887"></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
            <tr>
              <td>手机<span class="red"></span></td>
                <td><input type="text" class="pcsBasicTableTxt" datatype="*1-5" name="ph_name" value="{{ request.user.mobile }}"></td>
                <td></td>
                <td></td>
            </tr>
<!--             <tr>
              <td>手机<span class="red"></span></td>
                <td class="ph">{{ request.user.mobile }}<a class="editphon">修改手机</a>
                <input type="hidden" datatype="*" value="13719433887"></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
              <td>QQ<span class="red"></span></td>
                <td><input type="text" class="pcsBasicTableTxt" datatype="n5-20" name="qq" value="{{ request.user.qq }}"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td>地址<span class="red"></span></td>
                <td>
                <select class="pcprovince" name="province2" id="province2" >
                </select>
                <select  class="pcprovince"name="city2">
                </select
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
                <td colspan="3"><input id="savea" class="personalCbtn" style="width:90px;" type='submit' value="保存"></input></td>
            </tr>
        </tbody></table>
        </form>
  </div>


{% endblock %}


  
{% block custom_script %}
<script language="javascript" defer>
new PCAS("province2","city2","{{ request.user.province }}","{{ request.user.city }}");

</script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/microoh-v5.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
{% endblock %}


