{% extends 'common/base.html' %}
{% load staticfiles %}

{% block custom_css %}
<link href="{% static 'css/zy.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_script %}

{% endblock %}

{% block container %}
<div class="vteacher-banner-big">
    <div class="container">
      <div class="carousel-container">
        <div id="carousels">
          <div class="carousel-teacher">
            <div class='teacher-jx'>
            <ol>
            <li style="font-size:40px"><strong>{{ vocationalcourse.name }}</strong></li>
            <br>
            <li><p>{{ vocationalcourse.description }}</p></li>
            <br>
            <br>
            <div class="row_2">
            <a class="try_learn" href="http://www.maiziedu.com/lps3f/python/syllabus/">免费试学</a>
            <a class="just_up" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">立即报名</a>
            </div>
            </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div>

</div>
<ul id='foo'></ul>
{% endblock %}

